<body class="align-to-centre">
  <div class="container">
    <h1>Find an image of somewhere</h1>
    {{diagnostic}}
    <form #ImageOfEarthForm="ngForm">

      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="number" class="form-control" id="longitude" required [(ngModel)]="model.longitude" name="longitude">
      </div>

      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="number" class="form-control" id="latitude" required [(ngModel)]="model.latitude" name="latitude">
        <div>{{model.latitude}}</div>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" required [(ngModel)]="model.date" name="date">
      </div>

      <div class="form-group">
        <label for="cloudCover">Estimate Cloud Cover</label>
        <select class="form-control" id="cloudCover" required [(ngModel)]="model.cloudCover" name="cloudCover">
          <option *ngFor="let tf of trueFalse" [value]="tf">{{tf}}</option>
        </select>
      </div>

    </form>
    <button (click)="submit()">
      submit
    </button>
  </div>

  <div *ngIf="imageOfEarthData">
    {{imageOfEarthData.url}}

  </div>
</body>
