.grid-view {
    display: grid;
    grid-template-columns: 10% 10% 10%;
    grid-gap: 10px;
}

.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.align-to-centre {
    text-align: center;
    margin-left: 15%;
}

.fixed-pos {
    position: fixed;
    top: 20px;
}