<body class="align-to-centre">
  <h1>
    NASA photo of day
  </h1>

  <!-- <div class="fixed-pos">
    <p>sdgf</p>
  </div> -->

  <div>
    Get Image of day
    <button (click)="getImageOfDayFromAPI()">
      submit
    </button>
  </div>
  <app-photo-of-day [photo_of_day]="photo_of_day"></app-photo-of-day>
</body>
