<body style="text-align: center">
  <div *ngIf="photo_of_day">
    <h3>{{photo_of_day.title}}</h3>
    <p>{{photo_of_day.explanation}}</p>
    <img src={{photo_of_day.url}} height="600" width="740">
  </div>
</body>
