<h2>More Information</h2>

<p>This is some more information</p>

<div>
  <ul>
    <li *ngFor="let i of information">{{i.releaseDate + ' ' + i.songTitle + ' ' + i.streams}}</li>
  </ul>
</div>

<div>
  <a style="color:aliceblue" href={{link}}>Read all about it</a>
</div>

<div class="fillLine">
  <nav>
    <ul class="two-column-grid">
      <li><a routerLink="/nothing">Photo Of Day</a></li>
      <li><a routerLink="/mainpage">Weird Misc</a></li>
      <li><a routerLink="/image-of-earth">Image of somewhere on earth</a></li>
    </ul>
  </nav>
</div>
