h2 {
  color: beige
}

p {
  color: wheat
}

ui,
li {
  text-align: left;
  list-style-type: none;
}

.fillLine {
  position: fixed;
  bottom: 0;
  width: 15%;
  text-align: center;
  background-color: grey;
}

.two-column-grid {
  display: grid;
  grid-template-columns: auto auto
}

a {
    line-height: 10px
}
