<body style=text-align:center>
    <h1>
      {{ title }}
    </h1>
    <img src={{bjm}}>

    <h2>Testing data capture with spring boot</h2>

    <div>
      <label>comment l'appelez-vous:
        <input [(ngModel)]="data" placeholder="son nom">

      </label>
      <div *ngIf="data==='doop'">
        c'est grave
      </div>
    </div>

    <div>
      Press button to send value to spring boot app listening on 8080:
      <button (click)="reverseTheName()">
        sumbit
      </button>
      <div>
        <button (click)="getAllPeopleFromAPI()">
          get all people who have been submitted
        </button>
      </div>
    </div>

    <div *ngIf="la_putain">
      <h4>API response: reverses name</h4>
      Reversed Name: {{la_putain}}
    </div>

    <h6>All People Submitted</h6>

    <div *ngFor="let p of allPeopleSubitted"> Name: {{p.name}} {{p.id}} </div>

  </body>
